body{
    font-family: 'Redressed', cursive;
    margin: 0px;
}
h1{
    color: navy;
    font-size: 40px;
}
h2{
    color: orange;
    font-size: 20px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.top-button{
    text-decoration: none;
    background-image: linear-gradient( rgb(238, 191, 63),rgb(252, 255, 58),rgb(255, 224, 45));
    border-radius: 2px;
    width: 10px;
    height: 5px;
    padding: 5px;
    text-emphasis-color:navy;
    font-weight: bold;
}
.down-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 16, 128),red,orange);
    border-radius: 2px;
    width: 10px;
    height: 5px;
    padding: 5px;
    text-emphasis-color:navy;
    font-weight: bold;
}

.latest-working{
    width:29%;
    float: left;
    margin: 0.5%;
    padding: 1%;
}
.latest-working img{
    width: 100%;
    margin: 25px;
}
.latest-working-peoject{
    float: left;
}
#middle-text{
    text-align: center;
}
.orange{
    color: orange;
}
p{
    color: gray;
}
.work-inq{
    text-align: center;
    background-color:burlywood;
}
.footer{
    width: 100%;
    text-align: center;

}
.footer h3{
    text-align: center;
}
.gmail{
    color: navy;
}
.icon img{
    height: 3%;
    width: 3%;
    margin: 1%;
}
